body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato'
}

a {
    text-decoration: none;
}

.VIpgJd-ZVi9od-aZ2wEe, .VIpgJd-ZVi9od-aZ2wEe-OiiCO, tbody {
    display: none;
}

#google_translate_element img {
    display: none;
}

#google_translate_element span {
    color: blue;
    font-family: sans-serif;
    border: none !important;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 700;
}

.goog-te-gadget-simple {
    border: none !important;
    background-color: transparent !important;
}

.no-scroll {
    overflow: hidden;
}


@font-face {
    font-family: 'dancing';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

/* LOADING PAGE SECTION  */

#main-page1 {
    display: none;
    position: relative;
}

#load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#load.zoom-out {
    transform: scale(4);
    opacity: 0;
}

#load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

#load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

#load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

#load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

#load :last-child {
    background: #193B48
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}

/* NAV BAR SECTION  */
#check,
#cancel {
    display: none !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 3%;
    z-index: 100;
    top: 30px;
    left: 0;
    height: auto;
    background: transparent;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover a::after {
    transform: scaleX(1);
}

nav ul li a:hover,
#language:hover {
    color: blue;
}

nav ul li a,
#language {
    color: black;
    text-decoration: none;
    font-family: 'Lato';
    transition: color 0.3s;
    font-weight: 600;
}

nav ul li {
    transition: 300ms linear;
}

nav ul li:hover {
    transform: scale(1.03) translateY(-2px);
}

.name {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.name1 {
    color: blue;
}

#language {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-family: 'Lato';
    outline: none;
}

.opt,
.opt:active,
.opt:hover {
    color: white;
    background-color: blue;
    padding: 80px;
}

/* HOME SECTION  */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 3% 300px;
    height: auto;
    padding: 0px 30px 60px 30px;
    font-weight: 600;
}

.content {
    position: relative;
    left: -100%;
    animation: slideIn .4s ease-out forwards;
}

@keyframes slideIn {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.image {
    min-width: 400px;
    min-height: 400px;
    background-image: url('../images/img2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 90%;
    border: 3px solid blue;
    box-shadow: 0px 0px 25px blue;
    animation: shadow 4s linear infinite alternate;
    transition: 0.5s ease;
    margin-bottom: 30px;
    animation: bounce 2s linear infinite normal;
}


@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 25px blue;
    }

    50% {
        box-shadow: 0px 0px 45px blue;
    }

    100% {
        box-shadow: 0px 0px 25px blue;
    }
}

.content p {
    margin-top: 0px;
    margin-bottom: 20px;
}

.fa-bars {
    display: none !important;
}

.p1,
.p3 {
    font-size: 32px;
}

.p2 {
    font-size: 50px;
    margin: -3px auto;
}

.type {
    color: blue;
}

.p4 {
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px !important;
    width: 74%;
}

.brands a {
    color: blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid blue;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 5px 15px 5px 0;
    transition: 0.5s ease;
}

.brands a:hover {
    color: white;
    background: blue;
    box-shadow: 0px 0px 20px blue;
    transform: translateY(-3px) scale(1.1);

}

.cvButton {
    padding: 12px 28px;
    font-size: 18px;
    color: white;
    background: blue;
    box-shadow: 0px 0px 20px blue;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 30px;
}

#cv {
    color: white;
    text-decoration: none;
}

.cvButton:hover {
    transform: scale(1.1);
}

.mouse {
    color: blue;
    font-size: 23px;
    margin-left: 20px;
}

.fa-mouse {
    animation: bounce2 1s ease infinite normal;
    transition: .5s ease;
}

.mouse:hover {
    scale: 1.1;
}

@keyframes bounce2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
    }
}

/* TESTIMONALS SECTION */

.slides {
    overflow: hidden;
    padding: 20px 5px;
    height: 450px;
    background-image: url('../images/bg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 250px 0px;
}

.slider {
    display: flex;
    gap: 30px;
    animation: slide 20s linear infinite;
    /* Slower and continuous animation */
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slide {
    width: 400px;
    height: 240px;
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 30px white;
    background-color: #f1f1f1;
}

.head1 {
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0px;
    letter-spacing: 3px;
}

.head2 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.display {
    display: flex;
    align-items: center;
    gap: 10px;
}

.display img {
    width: 60px;
    border-radius: 50%;
}

.contents {
    line-height: 25px;
    text-align: justify;
    margin-top: 10px;
}

/* CORE SKILLS SECTION */

#core {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    margin-top: 100px;
    width: auto;
}

.p5 {
    text-align: center;
    font-size: 50px;
    color: blue;
    font-weight: 600;
}

.p6 {
    text-align: center;
    font-size: 18px;
    width: 650px;
    margin: 30px auto;
}

progress {
    color: blue;
    width: 90%;
}

.skillsdiv {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    height: auto;
    border: 2px solid rgba(0, 0, 128, 0.384);
    padding: 10px 25px;
    box-shadow: 0px 0px 8px blue;
    transition: 0.3s ease;
    width: 90%;
    margin: 0px auto;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px blue;

}

.icon {
    color: blue;
    font-size: 40px;
    margin: 10px;
}

.p7 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.p8 {
    font-size: 17px;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 5px;
}

.progress {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.span1 {
    padding: 10px;
    color: white;
    background-color: rgba(1, 1, 134, 0.862);
    border-radius: 15px;
}

.span2,
meter {
    width: 90%;
}

/* QUOTE SECTION  */

.quote {
    margin: 0px auto;
    height: 600px;
    width: 93%;
    position: relative;
    border-radius: 10px;
    top: 100px;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteimg {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    filter: blur(1px);
    object-fit: cover;

}

.quote div {
    width: 85%;
    z-index: 67;
}

#p5 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
}

#p6 {
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}

#p7 {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}

.btn4 {
    margin-top: 30px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.btn4 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s ease;
}

.btn4 a:hover {
    scale: 1.03;
    background-color: rgba(0, 0, 128, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}


/* BUILDING SOMETHING GREAT SECTION  */

.port1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port2 {
    text-align: center;
}

.port3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.port4 {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
}

.port5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.port6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.5s ease;
    cursor: pointer;
}

.port6:hover {
    color: blue !important;
    scale: 1.1;
    background-color: white;
    border: 1px solid blue;
}

.port30 {
    font-size: 20px;
    color: #1f242d;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.portlink:hover {
    color: white;
}

.port30:hover {
    color: white !important;
    background-color: blue;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 8px;
}

.portlink {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FOOTER SECTION  */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 40px 0px;
    border-top: 3px solid blue;
    box-shadow: 0px 0px 10px blue;
}

.links ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.links ul li {
    list-style-type: none;
}

.links ul li a,
.lang2 {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    transition: 0.3s ease;
}

.links ul li a:hover,
.lang2:hover {
    color: blue;
    transform: translateY(-10px);
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
}

.brand div p {
    font-size: 18px;
}

/* ABOUT SECTION  */


/* ABOUT US SECTION  */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 20px 5%;
    gap: 10%;
    height: auto;
    margin-bottom: 130px;
}

.img2 {
    min-width: 350px;
    min-height: 350px;
    background-image: url('../images/img2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 90%;
    border: 3px solid blue;
    box-shadow: 0px 0px 25px blue;
    animation: shadow 4s linear infinite alternate;
    transition: 0.5s ease;
    margin-bottom: 30px;
    animation: bounce 2s linear infinite normal;
}


.about_me {
    font-size: 40px;
}

.me {
    color: blue;
}

.frontdev {
    font-size: 30px;
    margin-top: 20px;
}

#about_summary {
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
    width: 100%;
    line-height: 35px;
}

#btn2 {
    padding: 12px 28px;
    font-size: 18px;
    color: white !important;
    background: blue;
    box-shadow: 0px 0px 20px blue;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 30px;
}

#btn2:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px blue;
}

/* TO VIEW PROJECT SECTION  */
#view-project {
    padding: 20px 5% 80px 5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 130px;
}

.bg4 {
    width: 400px;
    height: 520px;
}

#p17 {
    font-size: 28px;
    margin-bottom: 20px;
    color: blue;
    font-weight: 800;
}

#p8 {
    font-size: 50px;
    font-family: 'Permanent Marker';
    margin: 30px 0px;
}

#p9 {
    font-size: 19px;
    width: 80%;
}

.show {
    margin-top: 70px;
    border-top: 1px solid blue;
    padding: 40px 0px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.show2 {
    display: flex;
    gap: 10px;
}

.show2 p {
    font-size: 16px;
    line-height: 30px;
}

.icon2 {
    font-size: 28px;
    margin-top: 40%;
}

.btn5 {
    font-size: 18px;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    transition: .5s ease;
    color: white;
    margin-left: 20px;
    padding: 15px 20px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
    box-shadow: 0px 0px 25px blue;
}

.btn5:hover {
    scale: 1.1;
}

/* MY SKILLS SECTION  */
.myskills {
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 100px 5%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.skillscontent {
    width: 60%;
}

.skillsMeasurement {
    width: 100%;
}

.skillscontent1 {
    font-size: 40px;
    font-family: 'Permanent Marker';
    margin-bottom: 20px;
}

.skillscontent2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
}

.labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

.progress2 {
    width: 0;
    margin-bottom: 30px;
    height: 20px;
    transition: width 2s ease-in-out;
}

/* HOW TO CONTACT SECTION  */
.getintouch {
    padding: 20px 5% 80px 5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 130px;
}

.call {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

#p10 {
    font-size: 60px;
    font-family: 'Lato';
    font-weight: 600;
    color: blue;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

#p11 {
    font-size: 26px;
    margin-bottom: 70px;
}

#checks {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0px;
}

.fa-check {
    font-size: 20px;
    color: blue;
}

.p12 {
    font-size: 20px;
}

.callButtons {
    margin-top: 150px;
    display: flex;
    gap: 60px;
}

.callButtons button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: blue;
    border: 2px solid blue;
    box-shadow: 0px 0px 25px blue;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.fa-phone,
.envelope2 {
    color: white !important;
    margin-right: 6px;
}





/* CONTACT HTML STYLING */
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 5%;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
}


/* INFO  SECTION  */
.info {
    width: 100%;
    display: flex;
}

.info1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: blue;
}

.info2 {
    font-size: 35px;
    background: linear-gradient(-90deg, black, gold);
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
    font-weight: 600;
    font-family: 'dancing';
}

.address,
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
    font-size: 18px;
}

.fa-location-dot,
.fa-envelope {
    color: blue;
}

.mail p a {
    color: black;
    text-decoration: none;
}

.arrow {
    animation: bounce 1s ease infinite normal
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7px);
    }
}

/* CONNECT WITH US SECTION  */
.connect {
    width: 100%;
    height: auto;
    background-color: blue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 80px 60px;
    color: white;
}

.connect2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.connect2 h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Permanent Marker';
    font-weight: lighter;
}

.connect9 {
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
    transition: 1s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: blue !important;
    border: none;
    padding: 20px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
    color: white;
}

#connect8 {
    text-decoration: none;
    cursor: pointer;
}

.connect4:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    scale: 1.01;
}

.links2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
}

.links2 a {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s linear;
    color: white;
    text-decoration: none;
}

.links2 a:hover {
    background-color: rgb(1, 1, 107);
}

.github,
.linkedin {
    font-size: 50px;
    margin: 10px 0px;
}

.b-name {
    font-size: 35px;
    font-weight: 600;
    margin: 15px 0px;
}

.b-content {
    font-size: 20px;
    line-height: 35px;
    margin: 20px 0px;

}


/* CONTACT FORM SECTION  */

.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

form {
    width: 100%;
}

.contactname {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 4px;
}

.contm {
    color: blue;
}

.form1,
.form2 {
    display: flex;
    gap: 8px;
}


.pre_form {
    width: 90%;
}

input {
    width: 50%;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 6px auto;
    border: none;
    outline: none;
    color: black;
    background-color: rgba(105, 109, 118, 0.636);
}

textarea {
    width: 100%;
    height: 130px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 6px auto;
    border: none;
    outline: none;
    color: black;
    background-color: rgba(105, 109, 118, 0.636);
    font-family: sans-serif;
}

.submit_btn3 {
    padding: 12px 28px;
    font-size: 18px;
    color: white !important;
    background: blue;
    box-shadow: 0px 0px 20px blue;
    color: #1f242d;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}

.submit_btn3:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px blue;
}

.btndiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* PORTFOLIO SECTION  */

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding: 30px 5%;
    margin-bottom: 190px;
}

.portfolio_head {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
}

.portfolio_head span {
    color: blue;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 100px;
    padding: 20px 0px;

}

.project {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 0.3s ease;
    margin: 30px 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.project .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, transparent, blue);
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: .4s ease;
}

.project .overlay .text {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: white;
}

.chart {
    text-align: center;
    margin-top: 20px;
}

.chartline {
    color: white;
    text-decoration: none;
}

.fa-chart-line {
    font-size: 32px;
}

.project:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.project:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.btn7 {
    padding: 15px 28px;
    font-size: 18px;
    background: blue;
    box-shadow: 0px 0px 20px blue;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}

.btn7:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px blue;
}

.btn7 a {
    color: white;
    text-decoration: none;
}

.servicehead {
    text-align: center;
    color: blue;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Permanent Marker';
    margin-bottom: 100px;
}

.serviceDiv {
    margin-bottom: 170px;
}

.services {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.servicetitle {
    font-size: 24px;
    color: rgb(0, 4, 255);
    margin: 20px 0px;
}

.servicecontent {
    width: 300px;
    height: auto;
    padding: 50px 10px;
    border: 4px solid blue;
    border-radius: 20px;
    transition: .3s ease;
    box-shadow: 0px 0px 15px blue;
}

.servicecontent:hover {
    scale: 1.1;
    cursor: pointer;
}

.icon3 {
    color: blue;
    font-size: 40px;
    margin-left: 5px;
}


/* TRANSFORMING IDEAS SECTION */

.transform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    padding: 30px 5%;
    margin-bottom: 190px;
}

.p20 {
    font-size: 43px;
}

.p19 {
    font-size: 20px;
    margin-top: 30px;
}

.idea_buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}